<app-sidebar></app-sidebar>
<app-header></app-header>


<div class="main-content">
  <div class="form-container">
    <h2 class="p-3 mt-5">Edit Material</h2>
    <form [formGroup]="EditForm" class="p-2">
      <div class="main">
        <div class="details-contain">
          <div class="formGroup">
            <label  class="labl1">Material Code</label>
            <input type="text" formControlName="code" required minlength="3" class="inpt1" [ngModel]="materialToEdit.code">
          </div>
          <!-- <small [hidden]="addFrm.controls['code'].valid || addFrm.controls['code'].untouched" id="helpId" class="text-muted">Required</small> -->
          <div class="formGroup">
            <label  class="labl2">Material Name</label>
            <input (keyup)="EditMaterial()" type="text" formControlName="name" class="inpt2" [ngModel]="materialToEdit.name" [ngModel]="materialToEdit.name">
          </div>
          <div class="formGroup">
            <label class="labl3">Quantiry</label>
            <input type="text" formControlName="quantity" class="inpt2" [ngModel]="materialToEdit.quantity">
          </div>
          <div class="formGroup">
            <label class="labl4" for="matPrice">Material Price</label>
            <input type="text" formControlName="price_per_kilo" class="inpt2" [ngModel]="materialToEdit.price_per_kilo">
          </div>
          <div class="formGroup">
            <label  class="labl5">Min value</label>
            <input type="text" formControlName="min_value" class="inpt2" [ngModel]="materialToEdit.min_value">
          </div>
        </div>
        <div class="details-contain">
          <div class="notice">
            <label  class="labl6" for="notice">Notices</label><br>
            <textarea rows="3"  class="inpt6"></textarea>
          </div>
        </div>
      </div>
      <div class=".action-btns">
        <button class="btn save" type="submit" (click)="EditMaterial()" >Save</button>
        <button class="btn clear" (click)="clearForm()">Clear</button>
        <button class="btn back" routerLink="/Materials">Cancel</button>
      </div>

    </form>
  </div>
</div>

<!-- {{prd | json}}
<br>
{{matName.className}}-->




