*{
  padding:0;
  margin:0;
}
outlet-router{
  padding-left: 250px;
}

.form-control{
  width:200px;
}
/* table */
.mat-header-row{
  background-color: rgb(116, 116, 243);
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 0px !important;
}
.mat-header-cell,.mat-cell, .mat-footer-cell{
  justify-content: center;
}
.mat-header-cell{
  color: white;
}
.mat-row:hover{
  background-color: #eee;
}
.main-content{
  padding-left:250px;
  border: 5px #eee solid;
}

.add-btn, .icon-search,.btn-search,.clear-serch{
  color: white !important;
  background-color: green;
  margin: 5px;
}

tr.grid-row:hover{
  background-color: rgb(214, 210, 210) !important;
}

.filter-group{
  display: flex;
  background-color: #F4F4F4;
}
#filterCollapse{
  background-color: #F4F4F4;
}

.clear-serch{
  background-color: crimson;
}

.k-grid-header-wrap{
  background-color: #1977B3;
  color: white;
}

/* Forms style */
.form-container form .main{
  padding-left: 250px;
  width: 56%;
}
.form-container .details-contain{
  border: 1px dashed #bdbbbb;
  border-radius: 10px;
  padding:10px;
  margin-bottom: 15px;
}
.form-container .formGgroup{
  display: flex;
  margin-bottom: 0px;
}
.form-container .labl1{
  padding-left: 2px;
}
.form-container .labl2{

}
.form-container .labl3{
  padding-left: 41px;
}
.form-container .labl4{
  padding-left: 57px;
}
.form-container .labl5{
  padding-left: 28px;
}
.form-container ul{
  list-style: none;
}
.cdk-overlay-pane{
  width: 400px;
}
.form-container label{
  margin: 0.5rem;
}
.form-container input , .form-container textarea{
  border: 1px solid #D8D8D8;
    border-radius: 5px;
    width: 200px;
}
.form-container input{
  height: 28px;
}
.mat-form-field-wrapper{
  padding-bottom: 3.5px !important;
}
.mat-form-field{
  line-height: 2.12;
}
.mat-form-field-infix{
  width: 200px !important;
  border-top: none;
}
.action-btns{
  display: flex;
  justify-content: flex-end;
}
.action-btns button{
  margin: 5px;
  color: white;
}
.save,.clear,.back{
  color: white;
  margin: 5px;
}
.save{
  background-color: green;
}
.clear{
  background-color: red;
}
.back{
  background-color: blue;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
